@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var priceRecord = ViewData["Prices"] as PriceRecord;
}
@{
    <div class="text-center">
        <h1 class="display-4">Crypto Prices</h1>
    </div>

    <table>
        <tr>
            <th>BuyPrice</th>
            <th>SellPrice</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>@priceRecord.BuyPrice</td>
            <td>@priceRecord.SellPrice</td>
            <td>@priceRecord.Type</td>
        </tr>
    </table>

}
